<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png" alt="Início"></a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Início</a>
        </li>
    </ul>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="darkSwitch" />
        <label class="form-check-label" for="darkSwitch">Dark Theme</label>
    </div>
</nav>